@import "bulma";

* {
  box-sizing: border-box;
  list-style: none;
}

nav {
  height: 90px;
  border-bottom: 1px solid grey;
}

.nav-item {
  align-items: flex-end;
}

.logo {
  padding-top: 15px;
  padding-left: 5px;
  font-weight: bold;
  font-family: 'Sansita', sans-serif;
  font-size: 300%;
  letter-spacing: 2px;
  align-items: flex-end;
}
#green {
  background-color: #267426;
}

i.fa.fa-leaf {
  margin-bottom: 7px;
  margin-left: 3px;
}

.main-container {
  width: 1150px;
  overflow: hidden;
  margin: 0px auto;
}


//three heros styling
.middle-content {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.card {
  height: 450px;
  width: 305px;
  margin-bottom: 20px;
  display: inline-block;
  border-radius: 5px;
}

.card img {
  border-radius: 5px;
}

.media-content {
  text-align: center;
}

//CSS for the flashing header colors
#slides {
    position: relative;
    height: 150px;
    padding: 0px;
    margin: 0px;
    text-align: center;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    font-size: 40px;
    padding: 40px;
    background: #333;
    color: #fff;
    font-family: 'Roboto', sans-serif;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}

.slide:nth-of-type(1) {
    background: #267426;
}
.slide:nth-of-type(2) {
    background: #CC5101;
}
.slide:nth-of-type(3) {
    background: #445C4E;
}
.slide:nth-of-type(4) {
    background: #12315F;
}
.slide:nth-of-type(5) {
    background: #747150;
}

.photobanner {
	height: 200px;
	width: 4000px;
	margin-bottom: 20px;
}

.photobanner img {
  height: 200px;
  width: 210px;
  border-radius: 5px;
}

.first {
	-webkit-animation: bannermove 30s linear infinite;
	   -moz-animation: bannermove 30s linear infinite;
	    -ms-animation: bannermove 30s linear infinite;
	     -o-animation: bannermove 30s linear infinite;
	        animation: bannermove 30s linear infinite;
}

@keyframes "bannermove" {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -2125px;
 }

}

@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-webkit-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-ms-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}

@-o-keyframes "bannermove" {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -2125px;
 }

}
