<div class="main-container">
<!------carousel----------------------------------------------------------------->
          <!-- Images in carousel -->
          <div>
            <marquee class="marquee" behavior="scroll" direction="left">
              <img src="/images/baby2.jpg"/>
              <img src="/images/blackdahlia.jpg"/>
              <img src="/images/chameleon.jpg"/>
              <img src="/images/drogon.png"/>
              <img src="/images/hedgehog.png"/>
              <img src="/images/piebald.png"/>
              <img src="/images/tarantula.jpg"/>
              <img src="/images/blazesnake.jpg"/>
              <img src="/images/tortoise.jpg"/>
              <img src="/images/iguana.jpg"/>
              <img src="/images/leeloumacaw.jpg"/>
              <img src="/images/ballpython.jpg"/>
              <img src="/images/reptileeye.jpg"/>
              <img src="/images/pinkbirdeater.jpg"/>
              <img src="/images/albinocornsnake.jpg"/>
            </marquee>
          </div>
<!---------------------------------------------------------------------------->
<!--------three heros--------------------------------------------------------->
    <div class="middle-content">
          <div class="card is-one-third">
           <div class="card-image">
             <figure class="image is-square">
               <img src="/images/aribiopic1.png" alt="Image">
             </figure>
           </div>
          <div class="card-content">
            <div class="media">
            <div class="media-content">
              <p class="title is-4">About Safari Ari</p>
              <!--<p class="subtitle is-6">@johnsmith</p>-->
            </div>
          </div>
          <div class="content">
          Learn how Ari became Mississippi's go-to guru for exotic animal education!
              </div>
            </div>
          </div>


          <div class="card is-one-third">
           <div class="card-image">
             <figure class="image is-square">
               <img src="/images/camelkiss.jpg" alt="Image">
             </figure>
           </div>
          <div class="card-content">
            <div class="media">
            <div class="media-content">
              <p class="title is-4">Meet out newest animals!</p>
            </div>
          </div>
          <div class="content">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Phasellus nec iaculis mauris.
              </div>
            </div>
          </div>


          <div class="card is-one-third">
           <div class="card-image">
             <figure class="image is-square">
               <img src="http://bulma.io/images/placeholders/1280x960.png" alt="Image">
             </figure>
           </div>
          <div class="card-content">
            <div class="media">
            <div class="media-content">
              <p class="title is-4">Safari Ari's Match Game</p>
              <p class="subtitle is-6">Test your skills!</p>
            </div>
          </div>
          <div class="content">
          Want to learn about the coolest animals in the South??
              </div>
            </div>
          </div>
      </div>

<!----Bottom-flashing-bar------------------------------------------------------>
    <div class="flashingBar">
        <ul id="slides">
          <li class="slide showing">Facility Tours</li>
          <li class="slide">Birthday Parties</li>
          <li class="slide">School Shows</li>
          <li class="slide">Fesitvals</li>
          <li class="slide">Private Events</li>
      </ul>
    </div>
</div>
<!----------------------------------------------------------------------------->
<div class="details" ui-view></div>
