<!----navigation bar----------------------------------------------------------->
  <div class="container">
    <nav class="nav">
      <div class="nav-left logo"> SafARI TAILS
        <i class="fa fa-leaf" aria-hidden="true"></i>
      </div>

      <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
      <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
      <span class="nav-toggle">
        <span>Home</span>
        <span>About Us</span>
        <span>Events</span>
      </span>

      <!-- This "nav-menu" is hidden on mobile -->
      <!-- Add the modifier "is-active" to display it on mobile -->
      <div class="nav-right nav-menu">
        <a class="nav-item">
          Home
        </a>
        <a class="nav-item">
          About Us
        </a>
        <a class="nav-item" href="/app/pricingTable.html">
          Events
        </a>

        <span class="nav-item">
          <a class="button" href="https://www.facebook.com/safaritailsadventures/" >
            <span class="icon">
              <i class="fa fa-thumbs-o-up"></i>
            </span>
            <span>Facebook</span>
          </a>
          <a class="button is-primary" id="green">
            <span class="icon">
              <i class="fa fa-envelope-o"></i>
            </span>
            <span>Contact Us!</span>
          </a>
        </span>
      </div>
    </nav>
    <p class="motto"><b>T</b>eaching about <b>A</b>nimals <b>I</b>n <b>L</b>ive <b>S</b>hows.</p>
  </div>

  <div class="details" ui-view>
<!----------------------------------------------------------------------------->
<!-----footer------------------------------------------------------------------>

<!----------------------------------------------------------------------------->
